.container {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start;
  justify-content: center; */
  height: 100vh;
  gap: 20px;
}
.listbutton {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 8px;
  justify-content: center;
  gap: 8px;
}
.listgroup {
  display: flex;
  flex-direction: column;
  width: 650px;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  align-items: flex-start;
}
.button {
  margin-top: 16px;
  width: 150px;
  height: 60px;
  border-radius: 8px;
  background-color: rgb(225, 195, 195);
  color: black;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.buttonhidden {
  display: none;
}
li {
  list-style-type: none;
}
.audio-player {
  width: 600px;
  margin: 8px 0;
}
.error-message {
  display: block;
  width: 600px;
  margin: 8px 0;
}
